body {
  font-size: 20px;
  margin: 7ex auto; /* Set the top and bottom margins and center the content horizontally. */
  max-width: 45em;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: sans-serif;
}

h2 {
  margin-top: 2.7ex; /* Space out second level headers from the paragraph above. */
}

code {
  font-size: 19px;
  border: solid #E8E8E8;
  border-width: 2px 4px;
  border-radius: 3px;
  background: #E8E8E8;
}

pre code {          /* Code blocks */
  display: block;
  white-space: pre; /* Don't wrap lines. */
  overflow-x: auto; /* Show horizontal scroll bars for long lines. */
  padding: 1px 4px;
  border: solid #E8E8E8;
  border-radius: 3px;
  background: #E8E8E8;
}

blockquote {
  margin: 0;
  padding: 0.001ex 20px;
  border-left: 10px solid #D7D7D7;
  border-radius: 3px;
  background: #F9F9F9;
}

kbd {                    /* Adapted from https://dylanatsmith.com/wrote/styling-the-kbd-element */
  font-family: sans-serif;
  font-size: 0.85em;
  text-align: center;
  padding: 2px 5px;
  /* The following two lines pull the whole element up. */
  position: relative;
  top: -0.10em;
  min-width: 0.75rem;    /* Make narrow numbers and letters look less odd. */
  display: inline-block; /* 'min-width' doesn’t work without this. */
  border: 1px solid #D7D7D7;
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 1px #D7D7D7;
  background: #F9F9F9;
}
